  <% include _header %>

      <section id="description">
        <div class="section-content">
          <div class="container">
             <div class="row">
 
             
                    <div class="col-sm">
                   <img class="content-photo" src="/img/massage2.jpg" alt="Generic placeholder image">
                  </div>


                  <div class="col-sm">
                 Sports massage was developed to help athletes prepare their bodies for optimal performance, recover after a big event, or function well during training. Sports massage emphasizes prevention and healing of injuries to the muscles and tendons.

But you don't have to be and athelete to benefit from sports massage. Sports massage is also good for people with injuries, chronic pain or restricted range of motion. The massage therapist generally concentrates on a specific problem area that you present, usually associated with some sort of sports activity, such as running, tennis, or golf.  

The most important thing with sports massage is that you find a specially trained massage therapist who has mastery of a wide range of techniques and knows when to use them.  Many spas used to put sports massage on their menu as a way to appeal to men.  As spas have become more sophisticated, however, they realize they shouldn't list sports massage unless they have some therapists with specialized training.

When Should I Get A Sports Massage?

A sports massage is a good choice if you have a specific problem -- a tender knee from running, for instance. It is also be a good idea to see a movement therapist, who can help you identify and correct the movement pattern that might be causing your injury in the first place.

The therapist generally focuses in on the problem area -- a frozen shoulder or pulled hamstring, for instance -- rather than giving you a full-body massage.  Sometimes men who are new to the spa are more comfortable getting a sports massage because it sounds more masculine. That's fine, even if they don't have an injury.

No matter what type of massage you choose, the therapist should check in with you about what your needs and expectations are for the massage. 

Sports massage can be interesting career choice for therapists who want to do it full time.  Professional sports teams often have massage therapists on staff to keep athletes' bodies working at their very best.   It helps to have a keen interest in anatomy and physiology, advanced training and experience in sports massage, an interest in sports, and a desire to work with athletes.
              </div>
          

    </div>

           </div>



          </div>
        </div>
        
      </section>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p>Copyright &copy; 2017</p>
                    <p>coded by <a href="../../">Val</a></p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-unstyled">
                        <li><a href="">home</a></li>
                        <li><a href="">what we do</a></li>
                        <li><a href="">about</a></li>
                        <li><a href="">latest</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="list-unstyled">
                        <li><a href="">facebook</a></li>
                        <li><a href="">twitter</a></li>
                        <li><a href="">youtube</a></li>
                        <li><a href="">linkedin</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6>Contact me:</h6>
                    <p>+(380) 97-123-1234</p>
                    <h6>Send me Email:</h6>
                    <p>ievgeniia.lavrinenko@gmail.com</p><br />
                </div>
            </div>
        </div>
    </footer>
  
     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../node_modules/jquery/dist/jquery/jquery.min.js"></script>
    <!--script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script-->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->


</script>

<% include _footer %>
